body {
    background: blue;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  header {
     background: #333;
     color: #fff;
      padding: 1em 0; 
      text-align: center; }
   header h1 { 
    margin: 0; 
    font-size: 2em; }
    nav { 
        margin: 1em 0; 
        text-align: center; }
     nav a { 
        color: #333; 
        text-decoration: none; 
        margin: 0 1em; 
        font-size: 1.2em; } 
     nav a:hover { 
        color: #007BFF; } 
     .container {
         max-width: 1100px; 
         margin: auto;
          overflow: auto; 
          padding: 0 2em; } 
     footer {
         background: #333; 
         color: #fff;
          text-align: center; 
          padding: 1em 0;
           position: fixed; 
           bottom: 0; width: 100%; }
